{% extends 'base.html' %} {% load django_bootstrap5 %} {% block content %}
<div class="container m-4 text-center col-6">
  <h2>Reserve an Appointment</h2>

  {% if appointment %}
  <div class="card text-start">
    <div class="card-body">
      <h4 class="card-title">Appointment Exist!</h4>
      <p class="card-text">
        You have an appointment on {{appointment.date}} at {{appointment.get_time}}.
      </p>
    </div>
  </div>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %} {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Take</button>
  </form>
</div>

<!-- flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"/>
<!-- flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    flatpickr(".datepicker", {
      dateFormat: "Y-m-d",
      minDate: "today", // disables all past days
    });
  });
</script>
{% endblock content %}
